<div class="container">
    <div class="row">
        <div class="col-lg-6 mt-3">
            <h2 class="fw-bold">EDIT USERS</h2>
            <form action="/admin/editUser/{{user._id}}" style="margin-top: 2em;" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                  <label for="name" class="form-label">user Name</label>
                  <input type="text" class="form-control" name="name" aria-describedby="emailHelp" value="{{user.name}}">
                </div>
                <div class="mb-3">
                  <label for="description" class="form-label">email</label>
                  <input type="text" class="form-control" name="email" value="{{user.email}}">
                </div>


                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>